body {
  background: #eee;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-1 {
  -webkit-line-clamp: 1;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.width-225px {
  width: 225px;
}

.card-shadow {
  box-shadow: 0 0 20px rgba(99, 99, 99, 0.3);
  transform: scale(1);
  transition: all 0.2s ease;
}

.card-shadow:hover {
  box-shadow: 0 5px 10px rgba(99, 99, 99, 0.5);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.card-img-top {
  object-fit: cover;
  height: 150px;
}

.m-t-100 {
  margin-top: 100px;
}

#submit {
  opacity: 1;
  transition: opacity 0.3s ease;
}

#submit:disabled {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}