<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main class="container m-t-100">
  <div class="row">
      <div class="col-sm-8">    
          <div class="jumbotron">
              <h1>About</h1>
              <p>This is the about page</p>
          </div>
      </div>
      <div class="col-sm-4">        
          <div class="jumbotron">
              <h3>More info</h3>
          </div>
      </div>
  </div>
</main>

<%- include('../partials/footer'); %>


